::-webkit-scrollbar-track
{
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--main-background-color);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #888;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 0.9px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: var(--slider-line-color);
  border-radius: 0px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #00001e, 0px 0px 0.9px #000038;
  border: 1.8px solid rgba(0, 0, 0, 0);
  height: 14px;
  width: 14px;
  border-radius: 20px;
  background: var(--slider-thumb-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--slider-line-color);
}