<div class="map-player-body">
  <div class="map-sidebar">
    <div class="map-track-info">
      <div class="photo-container">
        <div id="cover_disk_center" class=""></div>
        <img id="track_cover" class="photo" src="res/html/img/nonsrc.svg">
        <div class="buttons-container">
          <i id="shuffle_button" title="Shuffle" class="material-icons button">shuffle</i>
          <i id="repeat_button" title="Repeat" class="material-icons button">repeat</i>
          <i id="broadcast_button" title="Broadcast" class="material-icons button">rss_feed</i>
        </div>
      </div>
      <div class="title-container">
        <div class="title">
          <span id="player_title">
            Title
          </span>
        </div>
        <div class="artist">
          <span id="player_artist">
            Artist
          </span>
        </div>
      </div>
      <div class="controls track-range">
        <input type="range" min="0" max="100" value="0" id="player_track_range">
        <div class="time-container">
          <div class="current-time" id="player_time">
            0:00
          </div>
          <div class="full-time" id="player_full_time">
            0:00
          </div>
        </div>
      </div>
      <div class="controls buttons">
        <i class="material-icons button-icon" id="prev_button">skip_previous</i>
        <i class="material-icons button-icon" id="play_button">play_arrow</i>
        <i class="material-icons button-icon" id="next_button">skip_next</i>
      </div>
      <div class="controls volume-range" id="player_volume_parent">
        <input type="range" min="0" max="100" value="100" id="player_volume_range">
        <div class="volume-icons">
          <div class="off">
            <i class="material-icons">volume_off</i>
          </div>
          <div class="up">
            <i class="material-icons">volume_up</i>
          </div>
        </div>
      </div>

    </div>
    <div class="elements-container">
      <div class="tab-element map-background-transition tab-element-selected" tab="main_audio_list">
        Мои аудиозаписи
      </div>
      <!-- <div class="tab-element map-background-transition" tab="recommendations_audio_list">
        Рекомендации
      </div> -->
      <div class="tab-element map-background-transition" tab="search_audio_list">
        Поиск
      </div>
      <div class="tab-element map-background-transition" tab="people_audio_list">
        Люди
      </div>
    </div>
  </div>

  <div id="main_container" class="map-container-parent">
    <div id="container_header" class="header">
      <input placeholder="Поиск" type="text" id="search_box" class="search-box">
      <i id="refresh_button" title="Reload tabs" class="material-icons reload-button">refresh</i>
      <button alias="main" class="subtab-element selected map-background-transition" for_tab="main_audio_list" playlist="mainPlaylist">Треки</button>
      <button alias="playlists" class="subtab-element map-background-transition" for_tab="main_audio_list" playlist="playlistsPlaylist">Плейлисты</button>
      <button alias="recoms" class="subtab-element map-background-transition" for_tab="main_audio_list" playlist="recomsPlaylist">Рекомендации</button>

      <button alias="search" class="subtab-element selected map-background-transition" for_tab="search_audio_list" playlist="searchPlaylist">Результаты</button>

      <button alias="people" class="subtab-element selected map-background-transition" for_tab="people_audio_list" playlist="friendList">Друзья</button>
    </div>
  </div>
</div>